@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* Reset and base styles */ * {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;

}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.container {
	max-width: 1400px;
margin: 0 auto;
	padding: 15px;
	padding-right: 15px;
}



body {
	font-family: "inter";
}


/* Header */
.header {
	padding-top: 17px;
	padding-bottom: 17px;
}

.header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__nav-list {
	font-weight: 500;
	color: #000000;
}

.header__nav-list ul {
	display: flex;
}

.header__nav-list li:not(:last-child) {
	margin-right: 70px;
}

.number {
	font-family: inter;
	font-size: 23px;
	font-weight: 400;
	color: #000000;
}

.phone-text {
	font-family: inter;
	font-weight: 400;
	font-size: 12px;
	color: #777777;
	margin-left: 60px;
}

.header_link {
	color: #000000;
}

.number {
	color: #000000;
}

.menu-close {
	display: none;
}




/* car */
.car {
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	padding: 175px 0;
	min-height: 895px;

}

.car-content {
	padding-left: 170px;
}

.car-heading {
	font-family: 'inter';
	font-size: 36px;
	font-weight: 400;
	color: #FFFFFF;
}

.car-text {
	width: 465px;
	margin-bottom: 50px;
	font-family: 'inter';
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
}

.car-bg-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.btn {
	margin-bottom: 186px;
	color: white;
	background: #2E9FDE;
	font-size: 18px;
	padding: 13px 36px;
	border-radius: 20px;
	font-weight: 700;
}



/* purchase */
.purchase {
	text-align: center;
}

.purchase h2 {
	margin-top: 70px;
	font-size: 24px;
	color: #000000;
}

.service-row {
	display: grid;
	grid-template-columns: repeat(3, 248px);
	justify-content: center;
	margin-top: 4rem;
}

.purchase-card {
	text-align: center;
	padding: 20px 0;
}

/* footer */

.footer {
	background-color: #222222;
	padding: 18px 0 44px 0;
	text-align: center;
}

.footer_list li {
	margin-right: 50px;
	font-weight: 400;
	font-size: 16px;

}

.footer_list {
	margin-left: 416px;
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
}

.footer_list ul {
	display: flex;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
}

.footer_link {
	color: #FFFFFF;

}

.footer_logo {
	margin-bottom: 50px;
}

.company {
	margin-top: 44px;
	color: #ffffff;
}


@media(max-width:1399px) {
	.container {
		width: 100%;
	}

	.footer_list {
		display: none;
	}
}

@media(max-width:1199px) {
	.header-nav li:not(:last-child) {
		margin-right: 38px;
		;
	}

	.phone {
		margin-left: unset;
	}

	.header-row {
		justify-content: space-between;
	}

	.header-nav {
		margin-right: 62px;
	}
}



@media(max-width:1150px) {

	.header-nav,
	.phone {
		display: none;
	}


	.burger {
		width: 30px;
		position: relative;
		height: 23px;
		margin-top: 13px;

	}

	.burger_line {
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 3px;
		background-color: black;
	}

	.burger_line:first-child {
		top: 0;
		left: 0;
	}

	.burger_line:nth-child(2) {
		top: 45%;
		left: 0;
	}

	.burger_line:last-child {
		bottom: 0;
		left: 0;
	}

	.nav_list {
		width: 420px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
		background-color: white;
		padding: 50px;
		transition: left .3s ease-in-out;
	}

	.nav_list {
		left: -500px;
		flex-direction: column;
		align-items: flex-start;

	}

	.nav_item {
		margin: 0;
	}

	.nav_item:not(:last-child) {
		margin-bottom: 60px;
	}

	.menu-close {
		padding: 0;
		border: none;
		font: inherit;
		color: inherit;
		background-color: transparent;
		position: relative;
		display: block;
		width: 23px;
		height: 23px;
		margin-bottom: 100px;
		transition: left .3s ease-in-out;
	}

	.menu-close::before,
	.menu-close::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: black;
		margin-left: -10px;
	}

	.menu-close::before {
		transform: rotate(45deg);
	}

	.menu-close::after {
		transform: rotate(-45deg);
	}

	.burger-active {
		left: 0;
	}

	.header-logo {
		width: auto;
		height: auto;
		float: left;
		margin: 0 auto 0 auto;
		padding: 18.5px 0 0 10px;
	}
}



@media(max-width:812px) {

	.footer_list {
		margin-left: 128px;
	}
}


@media(max-width:780px) {

	.footer_list {
		margin-left: 41px;
	}

	.service-row {
		grid-template-columns: 1fr;
		text-align: center;
	}
	@media(max-width:780px){
		.car-content{
			padding-left: 63px;
		}
	}
}