@font-face {
	font-family: 'inter';
	src: local('Inter-Bold'),
		url(/fonts/Inter-Light.ttf) format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'inter';
	src: local('Inter-SemiBold') url(/fonts/Inter-SemiBold.ttf) format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin-top: 0;
}


a {
	color: inherit;
	text-decoration: none;
	position: relative;
	display: inline-block;
}

a:hover {
	color: inherit;
}

.nav__link a:hover::after {
	position: absolute;
	content: "";
	background-color: var(--white-color);
	height: 2px;
	bottom: 0px;
	left: 0;
	width: 100%;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Montserrat', "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	color: var(--text-color)
}

ul {
	list-style: none;
	padding: 0;
}

picture img {
	width: 100%;
}


.flex {
	display: flex;
}

h1,
h2,
h3,
h4,
p,
ul {
	margin: 0;
}

.section {
	margin-bottom: 80px;
}

.section__header {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 30px;
}

.container {
	width: 1250px;
	margin: 0 auto;
	max-width: 95%;
}


/* Header */
.header {
	width: 100%;
	padding: 30px 0;
}

.nav {
	margin-top: 8px;
	margin-left: 220px;
}

.logo {
	font-family: inter;
	font-size: 40px;
	font-weight: 700;

}

.nav_link {
	font-family: inter;
	font-weight: 400;
	font-size: 16px;
	margin-right: 56px;
}

.number {
	font-family: inter;
	font-size: 23px;
	font-weight: 400;
	color: #000000;
}

.phone-text {
	font-family: inter;
	font-weight: 400;
	font-size: 12px;
	color: #777777;
	margin-left: 60px;
}

/* Section */
.section {
	height: 620px;
}

.section_conteiner {
	height: 100%;
	overflow: hidden;
}

.slide {
	width: 1254px;
	height: 620px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.hero__left {
	background-color: rgba(0, 0, 0, 0.6);
}


.hero_h1 {
	font-weight: 700;
	font-size: 36px;
	padding: 265px 0 0 324px;
	color: #FFFFFF;
	margin-bottom: 8px;
}

.hero__text {
	font-weight: 700;
	font-size: 18px;
	margin-left: 324px;
	color: #FFFFFF;
	margin-bottom: 50px;
}

.btn {
	margin-left: 324px;
	margin-bottom: 186px;
	color: white;
	background: #2E9FDE;
	font-size: 18px;
	padding: 13px 36px;
	border-radius: 20px;
	font-weight: 700;

}

/* purchase */
.purchase-row {
	margin-left: 300px;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 99px;
}

.service-row {
    margin-left: 278px;
	display: flex;
	margin-left: 280px;
}

.purchase-img {
	margin-bottom: 50px;
}

.purchase_h3 {
margin-bottom: 7px;
}
.purchase-text{
    width: 310px;
	font-size: 16px;
line-height: 19px;
margin-bottom: 99px;
}

/* footer */

.footer-left{
	background-color: #222222;
	padding-bottom: 20px;
}
.footer_list{
display: flex;
color:#FFFFFF;
padding-top: 32px;
margin-left: 410px;
 list-style-type: none;
 
}
.footer_item{
	margin-right: 56px;
	margin-bottom: 50px;
}
.footer_logo{
	color: #FFFFFF;
    margin-left: 575px;
	margin-bottom: 40px;
}
.company{
	text-align: center;
	color: #FFFFFF;
}
